// SIZES
$size-xs: .9rem;
$size-s: 1.8rem;
$size-m: 2rem;
$size-l: 3rem;
$size-xl: 4rem;

// COLORS
$light-grey: rgb(231, 231, 231);
$grey: rgb(194,199,209);
$dark-grey: rgb(53, 53, 53);
$blue: rgb(41, 103, 122);
$cream: rgb(192, 188, 119);
